.Rproj.user
.Rhistory
*.RData
*.rds
.Ruserdata
.DS_Store
.rdb
Thumbs.db
/public/
/resources/
*.rd*
*2021-07-24-dbt-pluto-first-post/
*.parquet
/Users/edwardfarley/Desktop/tedfarley/content/post/2021-09-04-zoning/